h2 IntelliJ 15 - The wizard which dissolves imports

:markdown
  Not much has changed in IntelliJ 15 frontend wise. Under the hood however is a
  different story. One of those things is the option to optimize scala imports
  on the fly. It totally breaks my work-flow. Once I comment or cut out a few
  lines of code, imports which are no longer needed, vanish. To solve this issue
  open the settings dialog and deselect "Optimize imports on the fly" under
  Editor -> General -> Auto Import

img(src= "content/20151117_001.jpg")
