h1 dev blog
each article, slug in public.blog.posts.year2015._data
	p: a(href="/blog/posts/year2015/#{ slug }") #{ article.date } - #{ article.title }
h1 projects
p: a(href="/bitty/history") Bitty History
