block head
  link(rel="stylesheet" href="/js/blueimp-gallery/css/blueimp-gallery.min.css")
  script(src="/js/prism/prism.js")
  script(src="/js/prism/components/prism-java.js")

h2
  p G.E.A.R
h3 Info
| G.E.A.R was designed and developed by a team of 6 students in the years 2010 to 2011. It was part of an assessment in the thrid and fourth semester.
h3 Description
| G.E.A.R is a mix between a Jump 'n' Run, Puzzle and Platformer. With the help of complex riddles and skill parts it keeps the player entertained. The atmosphere is dark and heavily inspired by LIMBO.
h3 Awards
| Place 3 at the Game Forge Newcomer Awards 2011
h3 Demo
| If you are interested, you can play a demo of G.E.A.R. You need a Microsoft Windows or Apple OSX operating system.
br
br
div(class="dropdown")
  button(class="btn btn-danger dropdown-toggle" type="button" id="downloadMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
    |Download 
    span(class="caret")
  ul(class="dropdown-menu" aria-labelledby="downloadMenu")
    li
      a(href="https://drive.google.com/open?id=0B7W6nOKmJ_PcN2hzY2RxM1ZTSkU")
        |Windows
    li
      a(href="https://drive.google.com/open?id=0B7W6nOKmJ_Pca0NFTnVCaENxeXc")
        |Mac
  
h3 Screenshots
div(id="screenshots")
  - for (var i=1; i<69; i++)
    if(i < 10)
      a(href="screenshots/screenshot.gear.0" + i + ".png")
        img(src="screenshots/thumbnails/screenshot.gear.0" + i + ".jpg")
    else
      a(href="screenshots/screenshot.gear." + i + ".png")
        img(src="screenshots/thumbnails/screenshot.gear." + i + ".jpg")
h3 Gameplay
|<div class="embed-responsive embed-responsive-16by9">
|<iframe src="https://drive.google.com/file/d/0B7W6nOKmJ_PcZnA4T2x5dFNEalE/preview"></iframe>
|</div>
h3 Cinematic
|<div class="embed-responsive embed-responsive-16by9">
|<iframe src="https://drive.google.com/file/d/0B7W6nOKmJ_PcWUthU0JqUkhIcW8/preview"></iframe>
|</div>
h3 Team
div(id="team")
  - for (var i=3; i>0; i--)
    a(href="images/team" + i + ".jpg")
      img(src="images/team" + i + ".jpg" class="img-responsive")
    br
        
|<div id="blueimp-gallery" class="blueimp-gallery">
|    <div class="slides"></div>
|    <h3 class="title"></h3>
|    <a class="prev">‹</a>
|    <a class="next">›</a>
|    <a class="close">×</a>
|    <a class="play-pause"></a>
|    <ol class="indicator"></ol>
|</div>

script(src="/js/blueimp-gallery/js/blueimp-gallery.min.js")
|<script>
|document.getElementById('screenshots').onclick = function (event) {
|    event = event || window.event;
|    var target = event.target || event.srcElement,
|        link = target.src ? target.parentNode : target,
|        options = {index: link, event: event},
|        links = this.getElementsByTagName('a');
|    blueimp.Gallery(links, options);
|};
|</script>
|<script>
|document.getElementById('team').onclick = function (event) {
|    event = event || window.event;
|    var target = event.target || event.srcElement,
|        link = target.src ? target.parentNode : target,
|        options = {index: link, event: event},
|        links = this.getElementsByTagName('a');
|    blueimp.Gallery(links, options);
|};
|</script>

