block head
  link(rel="stylesheet" href="/js/magnific-popup/dist/magnific-popup.css")

h1
  p G.E.A.R
h2 Info
| G.E.A.R was designed and developed by a team of 6 students in the years 2010 to 2011. It was part of an assessment in the thrid and fourth semester.
h2 Description
| G.E.A.R is a mix between a Jump 'n' Run, Puzzle and Platformer. With the help of complex riddles and skill parts it keeps the player entertained. The atmosphere is dark and heavily inspired by LIMBO.
h2 Awards
| Place 3 at the Game Forge Newcomer Awards 2011
h2 Demo
| If you are interested, you can play a demo of G.E.A.R. You need a Microsoft Windows or Apple OSX operating system.
br
br
div(class="dropdown")
  button(class="btn btn-danger dropdown-toggle" type="button" id="downloadMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
    |Download 
    span(class="caret")
  ul(class="dropdown-menu" aria-labelledby="downloadMenu")
    li
      a(href="https://drive.google.com/open?id=0B7W6nOKmJ_PcN2hzY2RxM1ZTSkU")
        |Windows
    li
      a(href="https://drive.google.com/open?id=0B7W6nOKmJ_Pca0NFTnVCaENxeXc")
        |Mac
  
h2 Screenshots
div(class="screenshots")
  div(class="row")
    - for (var i=1; i<69; i++)
      div(class="col-xs-3 col-md-1")
        if(i < 10)
          a(href="screenshots/screenshot.gear.0" + i + ".png" data-lightbox="screenshots")
            img(src="screenshots/thumbnails/screenshot.gear.0" + i + ".jpg" class="img-thumbnail bottom5")
        else
          a(href="screenshots/screenshot.gear." + i + ".png" data-lightbox="screenshots")
            img(src="screenshots/thumbnails/screenshot.gear." + i + ".jpg" class="img-thumbnail bottom5")
h2 Gameplay
|<div class="embed-responsive embed-responsive-16by9">
|<iframe src="https://drive.google.com/file/d/0B7W6nOKmJ_PcZnA4T2x5dFNEalE/preview"></iframe>
|</div>
h3 Cinematic
|<div class="embed-responsive embed-responsive-16by9">
|<iframe src="https://drive.google.com/file/d/0B7W6nOKmJ_PcWUthU0JqUkhIcW8/preview"></iframe>
|</div>
h2 Team
div(id="team")
  - for (var i=3; i>0; i--)
    img(src="images/team" + i + ".jpg" class="img-responsive")
    br

script(src="/js/magnific-popup/dist/jquery.magnific-popup.min.js")
script
  |$('.screenshots').magnificPopup({
  |delegate: 'a', // child items selector, by clicking on it popup will open
  |type: 'image',
  |gallery:{enabled:true},
  |mainClass: 'mfp-with-zoom'
  |});
