block head
  script(src="/_components/prism/prism.js")
  script(src="/_components/prism/components/prism-java.js")

h2 TicAI: It's alive
p
  | Impressed by Googls results with AlphaGo I wanted to test my skills with the following challange: 
div.panel.panel-default
  div.panel-body
    | Program an AI from scratch in Java 8, without using any libraries and knowledge resources, within one or two days? 
