h2 Programming Playlist
p
  | This playlist helps me to focus. For that to happen I need songs with a steady beat and not to much changes in the melody. Almost all are influenced by the electronic genre.

ul
 li Mystic Sunset - DJ Marky & S.P.Y
 li Windows featuring Netsky, Sofia Rubina - Mutated Forms
 li Yellow Shoes - DJ Marky & S.P.Y.
 li Wastegash - Mutated Forms
 li Count The Stars - Hybrid Minds Remix - BCee feat. Lingby
 li Chasing Dreams - Mutated Forms
 li Piano Funk - Original Mix - Total Science
 li Doubts - Mutated Forms
 li Is Anybody Out There? - S.P.Y
 li What the Future Holds - S.P.Y
 li Welcome To Our World - Seba
 li Long Distance - Fred V & Grafix
 li Just a Thought - Fred V & Grafix
 li Snow - Seba
 li September - Future Prophecies;Roger Ludvigsen
 li 25th Floor - DJ Marky & Bungle VIP - Bungle
 li Having You Near - Undersound;Andy Sim
 li Sirens - Camo and Krooked Remix - Bungle
 li 1990's - L.A.O.S
 li Star Soul - L.A.O.S
 li Electro Step - Shimah
 li Glory Days (Never Again) - Netsky Remix - Mutated Forms
 li Ainokea - Ben Soundscape
 li Sometimes We Lie - SpectraSoul
 li Drift Away - Pretty Lights
 li No Doubt - SpectraSoul
 li Kiara - Bonobo
 li Jah No Dead - Bachelors of Science
 li Looking For Love (But Not So Sure) - Pretty Lights
 li Don't Look Down (feat. Calyx & Teebee) - Break feat. Calyx & Teebee
 li Feeling Better - Michal Menert
 li Time Has Written - Supervision
